@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}  

.none {
    display: none;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

body {
    background: radial-gradient(circle, #1b2735, #090a0f);
    color: #00ff99;
    font-family: 'Orbitron', sans-serif;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    margin-bottom: 20%; 
    margin: 0;
    padding: 0;
}

#form-container {
    padding-bottom: 100px; 
    margin-bottom: 20px; 
}

select {
    -webkit-appearance: none; 
    -moz-appearance: none;    
    appearance: none;         
}

.vesselDisplay, #task-main-block {
    overflow-y: auto;
}

.padding {
    padding: 2%; 
}

.marginTop {
    margin-top: 5%; 
}

h2 {
    margin-bottom: 2%; 
}

.fixed {
    position: fixed; 
    top: 9%; 
}

.socket-table thead th {
    position: sticky;
    top: 0;              /* stick to top */
    background-color: #000000; /* make sure it has a background */
    z-index: 10;         /* above table rows */
    padding: 8px;
    text-align: left;
    border-bottom: 2px solid #01a71d;
}

#converter {
    max-height: 400px; /* or whatever fits your layout */
    overflow-y: auto;
}

.socket-table caption {
    font-size: 1em;  /* bigger text */
    font-weight: bold;
    margin-bottom: 10px; /* spacing from the table */
    caption-side: top;   /* default, but ensures it stays on top */
    text-align: left;    /* optional */
}
