#html-container {
    position: relative; 
    z-index: 9998; 
    padding-top: 17%; 
    margin-bottom: 60%;
}

#task-data-container {
    opacity: 0; /* Start hidden */
    transition: opacity 0.5s ease-in-out;
}

.details {
    display: grid;
    padding-left: 2%; 
    max-width: 600px; /* Adjust as needed */
}

.detail-row {
    display: flex; /* Switch to flex for inline behavior */
    justify-content: space-between; /* Ensures spacing between key and value */
    align-items: center; /* Aligns items properly */
    padding: 8px 0;
    border-bottom: solid grey .01px; 
}

.detail-key {
    font-weight: bold;
    color: #555;
    text-align: left;
    min-width: 200px; /* Ensures labels stay aligned */
}

.detail-value {
    color: #00ff99;
    padding: 5px 10px;
    text-align: left;
    flex: 1; /* Allows it to take up remaining space */
}

.prop-section {
    float: right;
    width: 95%; 
}

details {
    display: block;
    margin-bottom: 10px;
    text-align: right; /* Align contents inside dropdown */
}

details[open] summary::before {
    transform: rotate(90deg);
}

details summary {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    list-style: none;
}

details summary::-webkit-details-marker {
    display: none;
    -webkit-appearance: none;
}

details summary::before {
    content: "▶";
    display: inline-block;
    margin-right: 3%;
    transition: transform 0.3s ease;
}

.prop-info {
    margin-top: 1%; 
    text-align: right; /* Ensures serial number and info are right-aligned */
}

.heading h3 {
    margin-top: 5%; 
    margin-bottom: 3%; 
    border-bottom: 1px solid; 
}

.detail-prop-row {
    overflow: hidden;  /* Clear the float */
    padding: 4px 0;
}

.detail-prop-key {
    float: left;
    color: #555;
    width: 50%;  /* You can adjust this width */
    text-align: left;
    line-height: 2rem; 
}

.detail-prop-value {
    color: #00ff99;
    float: right;
    width: 50%;  /* You can adjust this width */
    text-align: left;
    line-height: 1.5rem; 
}