.task-menu {
    position: fixed;
    bottom: 60px; /* Places it above the bottom menu */
    width: 100%;
    background-color: radial-gradient(circle, #1b2735, #090a0f);
    overflow-x: auto; /* Enables horizontal scrolling */
    white-space: nowrap;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.task-menu {
    display: none; 
}

.task-container {
    display: flex;
    gap: 10px;
    padding: 0 10px;
    overflow-x: auto;
    scrollbar-width: none; /* Hide scrollbar for modern browsers */
    -ms-overflow-style: none; /* Hide scrollbar for IE/Edge */
}

.task-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Webkit browsers */
}

.task-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 80px;
    height: 80px;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    text-align: center;
    color: white;
}

.task-option:hover, .task-option.active {
    border-color: #0ff;
    box-shadow: 0 0 10px #0ff;
}

.task-option img {
    max-width: 40px;
    margin-bottom: 5px;
}

